parameters:
  level: 1
  paths:
    - src/
  excludePaths:
    - src/Legacy/**

services:
#   -
#     class: App\PHPStan\Rules\ClassNamingRule
#     tags: [phpstan.rules.rule]
#   -
#     class: App\PHPStan\Rules\VariableNamingRule
#     tags: [phpstan.rules.rule]
#   -
#     class: App\PHPStan\Rules\InterfaceNamingRule
#     tags: [phpstan.rules.rule]
#   -
#     class: App\PHPStan\Rules\TraitNamingRule
#     tags: [phpstan.rules.rule]
  -
    class: App\PHPStan\Reporters\ConsoleReporter
    tags: [phpstan.reporters.reporter]
  -
    class: App\PHPStan\Reporters\HtmlReportGenerator
    tags: [phpstan.reporters.reporter]

# extensions:
#   - phpstan-strict-rules
#   - phpstan-deprecation-rules
#   - phpstan-phpunit
